* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin:0;
    padding:0;
}

.container {
    background:#979797;
    display:flex;
    flex-wrap:wrap;
}

.col {
    flex:1;
    height:100vh;
    position: relative;
}

.countdown-col {
    background:url(bg.jpg) no-repeat center;
    background-size:cover;
}

.time {
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.time span {
    color:#FFF;
    padding:0 14px;
    font-size:10px;
}

.time span div{
    font-size:40px;
}

.newsletter {
    width:90%;
}

.newsletter input {
    display:block;
    margin:12px auto;
    width:100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 30px;
    border:1px solid #dddddd;
    outline: none;
}

.newsletter-btn {
    background: linear-gradient(125deg,#000000,#002e18);
    color:#FFFFFF;
    cursor: pointer;
    transition: 0.4s;
}

.newsletter-btn:hover{
    opacity: .8;
}

@media screen and (max-width:900px) {
    .col {
        flex:100%;
    }
}
