* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin:0;
    padding:0;
    color:#FFFFFF;
}

.container {
    background:#979797;
    display:flex;
    flex-wrap:wrap;
}

.col {
    flex:1;
    height:100vh;
    position: relative;
}

.countdown-col {
    background:url(bg.jpg) no-repeat center;
    background-size:cover;
}

.time {
    color:#FFFFFF;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;
}